:root {
  --bluegrey: #202224;
  --darkbluegrey: #2c2e35;
  --orange: #fff;
}

.App {
  /* text-align: center; */
  background-color: #2c2e35;
  min-height: 100vh;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  caret-color: transparent;
}
